<html><head><meta content="text/html; charset=UTF-8" http-equiv="content-type">
<style>
body {padding: 20px 15px; margin: 0; font-family: Verdana, "MS Sans Serif"; font-size: 70%; background-color: white;}
hr {height: 1px; color:navy;} img{border:0;}
.txt {padding: 10px 0 10px 0;}
.h {color: navy; margin: 10px 0 0 0px;}
.msg {padding: 10px 0 10px 10px; border-bottom: 1px solid navy;}
ul {color: navy; list-style-position: inside; margin: 5px 0 0 7px;}


h3 {font-size: 130%; font-weight:normal;}
h5 {font-size: 130%; font-weight:normal; color:snavy; text-decoration:underline;}

</style>
</head>
<body>

{$Message} 

<div class="h">{$HeaderText}</div>

{$messages}


</body>
</html>